---
import Layout from "../layouts/Base.astro";
import Container from "../components/Container.astro";

const seo = {
  title: "Yongfeng Harry Qin",
  description: "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support."
  }
---

<Layout
  seo={seo}
>
  <Container>
    <h1>Yongfeng Harry Qin</h1>
    <p>
      I am a software engineer based in Melbourne.
    </p>

    <a href="/blog">Blog →</a>
  </Container>
</Layout>
