---
import Layout from './Base.astro';
import Container from "../components/Container.astro";
import ArticleSchema from '../components/ArticleSchema.astro';

const { frontmatter } = Astro.props;
---

<Layout seo={frontmatter}>
  <Fragment slot="head-bottom">
  <ArticleSchema {...frontmatter}  />
 </Fragment>
  <Container>
    <article class="post-content__article">
      <h1>{frontmatter.title}</h1>
      <time>{frontmatter.publishDate}</time>
      <slot />
    </article>
  </Container>
</Layout>
